# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg

# Logs
*.log

# Environment variables
.env

# Virtual environment
venv/

# pytest cache
htmlcov/
.coverage

# ide
.vscode/

#other
Inlämningsuppgift#1.pdf

# FastML data
models/